.dev-writing-wrapper {
  .writing-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    gap: 10px;
 
    .title {
      font-size: 30px;
      font-weight: bolder;
      margin-bottom: 10px;
    }

    .content {
      font-size: 18px;
      color: #808080;
    }

    .write-btn {
      width: 80px;
      height: 40px;
      padding: 4px 8px;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      background-color: #007bff;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .writing-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .writing-item {
      display: grid;
      grid-template-rows: 50px minmax(0, 1fr) 20px;
      gap: 20px;

      height: 200px;
      padding-bottom: 20px;
      border-bottom: 1px solid #e0e0e0;
      
      .upper-area {
        display: flex;
        justify-content: space-between;

        .left-area {
          display: flex;
          gap: 20px;
          
          .item-title {
            font-size: 24px;
            cursor: pointer;
  
            &:hover {
              font-size: 28px;
            }
          }

          .item-field {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 40px;
            font-size: 20px;
            color: #ffffff;
            border-radius: 5px;
          }
        }
        .delete-btn {
          height: 40px;
          padding: 4px 8px;
          border: none;
          border-radius: 4px;
          font-size: 14px;
          font-weight: bold;
          background-color: #ff3b3b;
          color: #ffffff;
          cursor: pointer;
        }
      }

      .item-content {
        color: #808080;
        max-height: calc(3 * 1.2em);
        line-height: 1.2em; 
        overflow: hidden;
      }

      .item-time {
        color: #808080;
      }
    }
  }
}